PORT= # port của server
MONGODB_URI= # URI đến database

JWT_SECRET= # Dùng để ký và xác thực JSON Web Tokens.
JWT_ACCESS_TOKEN_EXPIRED= # thời gian sống của token

TTL_REFRESH_TOKEN= # thời gian sống của refresh token

MAIL_USER= # Email gửi hệ thống (Ví dụ: your-email@gmail.com)
MAIL_PASSWORD= # Mật khẩu ứng dụng (App Password) - không phải mật khẩu đăng nhập chính.

APP_NAME=
SUPPORT_EMAIL=

CLOUDINARY_CLOUD_NAME= # Tên của "Cloud" trên hệ thống Cloudinary
CLOUDINARY_API_KEY= # API Key của ứng dụng
CLOUDINARY_API_SECRET= # API Secret của ứng dụng

# config VNPAY
VNPAY_TMN_CODE= # Mã định danh website tại hệ thống VNPAY
VNPAY_HASH_SECRET= # Chuỗi bí mật dùng để tạo mã hash
VNPAY_URL= # URL thanh toán của VNPAY
VNPAY_RETURN_URL= # URL nhận kết quả trả về sau khi khách thanh toán xong
VNPAY_IPN_URL= # URL API để VNPAY gửi thông báo kết quả giao dịch

AUTH_GOOGLE_ID= # Google Client ID

SENDGRID_API_KEY=
SENDGRID_MAIL_FROM=